@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #777777;
}

/*-----------------------------------------------------------------Colours*/

.bg-color-name-info{
    background-color: #676767;
}

.bg-color-form {
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: #ffcd05;
}

.ui-menu-color-services {
    background-color: silver;
    color: grey;
}

.ui-menu-color-contact {
    background-color: #ffcd05;
}

.ui-menu-color-gallery {
    background-color: silver;
}

/*-----------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

h2, h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fafafa;
    text-align: center;

}

h3 {
    color:rgba(60, 60, 60, 0.9);
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ffcd05;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}
/*------------------------------------------------------------Navigational Bar*/


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer { 
    font-size: 0;
    margin: 10px;
    padding-bottom: 5px;
}

.navbar {
    padding: 0;
}

.navbar-text {
        text-align: center;   
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

/*---------------------------------------------------------Navigational Links*/

.menuitem {
    height: 70px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: rgb(32, 32, 32);
    height: 70px;
}

.menuitem a i {
    padding-top: 10px;
    display: block;
    color: rgb(32, 32, 32);
    font-size: 16px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 70px;
}
.active {
    border: 2px solid black;

}

/*-----------------------------------------------------------------Heading*/

.heading {
    
    font-size: 25px;
    padding: 10px;
    color: black;
}

a i {
    color: #fafafa;

    }

.contact-details {
    color: #fafafa;
}

/*-----------------------------------------------------------------Button*/

.btn-call {
    color: #ffc107;
    background-color: #555555;
    width: fit-content;
    text-align: center;
    border:2px solid black;
    padding: 5px;
    border-radius: 14px;
}

.btn-call:hover,
.btn-call:active,
.btn-call:focus,
.btn-call:active:focus {

    background-color: #ffc107;
    border: 2px solid black;
    color: #555555;
}

/* ---------------------------------------------------------------Alert */

.alert {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 10px;
    color: #fafafa;
    background-color: rgba(105, 104, 100, 0.911);
    margin-bottom: 5px;
    border: 1px solid transparent;
    text-align: center;


}

.alert a {
    color: #ffc107;
    text-decoration: underline;
}    
      
/* ---------------------------------------------------------------Services*/

i {
    color:#ffcd05;
    clear: left;
    }

#services {

  text-align: center;
  padding: 0;
 
    
}


.services-list {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.services-list li{
      list-style-type: none;
  
 }

#services h2, h4 {
    width: 100%;
    color: #525252;

}

/*----------------------------------------------------------------Testimonials*/

#testimonials {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
 
}



.media {
    text-align: center;
    margin: 10px;
    line-height: 50px;

}
/*----------------------------------------------------------------Contact*/

.address {
    padding-top: 20px;
    
}

.address p {
    line-height: normal;
    padding-top: 10px;
}

/* ---------------------------------------------------------------Form*/


#form-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;

}
#form-info h2 {
    text-align: center;
    color: rgba(60, 60, 60, 0.4);
    margin-top: 20px;

}
    
#form-info h3 {
    text-align: center;
    color: rgba(60, 60, 60, 0.4);
    margin-top: 20px;   

}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.9);
}

.text-input {
    background: rgba(60, 60, 60, 0.4);
    color: #fafafa;
    width: 50%;
    height: auto;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 4px;
}

option { 
    background-color: rgba(60, 60, 60, 0.9);
}


#name-field {
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    background-color: rgba(0, 0, 0, 0.2);
   
}

#email-field {
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    background-color: rgba(0, 0, 0, 0.2);

}

#phone {
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    background-color: rgba(0, 0, 0, 0.2);
   
}

#subject {
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    background-color: rgba(0, 0, 0, 0.2);

}

#message-label {
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
}

#callout-date {
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
}

.clear-button {
    margin-top: 10px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    background-color: rgb(76, 0, 255);
    display: block;
    font-size: 80%;
}

.quote-button {
    margin-top: 10px;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    background-color: green;
    display: block;
    font-size: 80%;
    
}

.clear-button:hover {
    background-color: #555555 ;
    color: #fafafa;
}

.quote-button:hover {
    background-color: #555555;
    color: #fafafa;
}

/* ---------------------------------------------------------------Images*/

#hero-image {
    height: 560px;
    width: 100%;
    background: no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

#hero-outer {
    height: 560px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, cover-text h3 {
    color: #000000;

}

#cover-text {
    font-size: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(252, 206, 1, 0.705);
    top: 100px;
    left: 250px;
    position: absolute;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

#photos img {
    width: 100%;   
 }

.gallery-heading {
     width: 100%;
 }

#video {
    height: 400px;
    width: 70%;
    margin-left: 15%;
}
/* -----------------------------------------------------------------Map */ 

#map {
    margin: 0 auto;
    
}

/* ---------------------------------------------------------Media Queries*/


@media screen and (max-width: 1393px) {

    #services {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
                
    }

    #hero-image {
        width: 100%;
        height: 1100px;
        margin: 0 auto;
    }

    #cover-text {
        left: 10px;
        float: none;

    }   
    
}

@media screen and (max-width:943px) {
    #nav {
        clear: both;
        float: none;
        margin: 0 auto;
        margin-bottom: 5px;
        line-height: 5px;
    }

     #hero-image {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
    }


    #cover-text {
        left: 0px;
       

    }

    #services {
        width: 75%;
        padding: 30px;
        text-align: center;
        padding-bottom: 10px;
                  
    }
    
 .services-list li{
      list-style-type: none;
 }

  #photos {
      column-count: 3;
  }      
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
}

    #hero-image {
    height: 500px;
    width: 100%;
    background: no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

    #hero-outer {
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;
}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
}


@media(min-width: 993px) {

    .contact-form {
        
        min-height: 240px;
        margin: 20px;
        max-width: 50%;
    }    
}

  
/* ---------------------------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    text-align: center;
    min-height: 80px;
    padding-top: 40px;
    padding-bottom: 30px;

     
}

a.call-out {
    color: #fafafa;
}

.call-out { 
    
    float: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 14px;
    background-color: #8f8f8f;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}


.call-out:hover {
    background:  #ffcd05;
    color: #343a40;
    text-decoration: none;
}

.social-links {
    padding-bottom: 25px;
    text-align: center;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    margin: 15%;
    font-size: 13px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
     
}

.social-links li a i:hover {
    background: gold;
}



