@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*-----------------------------------------------------------------Colours*/

body {
    color: #676767;
}

h2 {
    color: #676767;
}

h3, h4 {
    color: #fafafa;
}

p {
    color: #fafafa;
}

.bg-color-contact-details {
    background-color: #676767;
}



/*-----------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

h2 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    
}

h3 {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    font-size: 150%;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #ffcd05;
    text-align: center;
    padding-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------------------------------Navigational Bar*/

.nav-item a:hover {
    color:#ffcd05;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: large;

}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffcd05;
    font-family: "Exo", sans-serif;
    font-weight: 600;
    background-color: #676767;
    font-size: 20px;
    border-radius: 12px;
    border: 1px solid black;
   
}

/*-----------------------------------------------------------------Logo*/

.logo {
    height: 60px;
    width: 60px;
}


/*-----------------------------------------------------------------Heading*/

#header-name {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color:rgba(60, 60, 60, 0.9);
    padding: 10px;
    float: right;
}

.contact-details h3 {
    color: #676767;
}

.contact-container {
    padding: 0;
    margin: 0 auto;
}

/*-----------------------------------------------------------------Button*/

.btn-call {
    background-color: #555555;
    border:2px solid black;
    border-radius: 14px;
    color: #ffc107;
    padding: 5px;
    text-align: center;
    width: fit-content;
}

.btn-call:hover,
.btn-call:active,
.btn-call:focus,
.btn-call:active:focus {

    background-color: #ffc107;
    border: 2px solid black;
    color: #555555;
}

/* ---------------------------------------------------------------Alert */

.alert {
    background-color: rgba(105, 104, 100, 0.911);
    color: #fafafa;
    display: block;
    font-family: "Roboto", sans-serif;
    font: 12px;
    margin: 0 0 5px;
    max-width: 100%;   
    padding: 0;
    text-align: center;
}

.alert a {
    color: #ffc107;
    text-decoration: underline;
}    

/* ---------------------------------------------------------------info-details*/

#company-info {
    background-color: rgba(60, 60, 60, 0.404);
    font-family: "Roboto", sans-serif;
    padding: 20px;
    
}

.info-details {
    padding: 20px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-align: left;
    letter-spacing: 1.5px;

}



      
/* ---------------------------------------------------------------Services*/

i {
    clear: left;
    color:#ffcd05;
}

.services {
    background-color: #676767b5;
    color: #fafafa;
    margin: 0 auto;
    font-family: "Exo", sans-serif;
    font-size: 14px;
    text-align: left;

    
}

.services h3 { 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 40px;
  

}

.services-list {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    text-decoration: none;
    color: #fafafa;
    margin: 10px;
    height: 200px;
}


.services-list li{
      list-style-type: none;
}

.services-list a {
    color: #ffcd05;
}

hr {
    border: 3px solid #ffcd05;
    width: 10%;
}




/*----------------------------------------------------------------Testimonials*/

#testimonials {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.media {
    margin: 10px;
    text-align: center;
}

.media-body p {
    color: #676767;
}

.testimonial-heading h2 { 
    padding-top: 20px;
    padding-bottom: 20px;
}


/*----------------------------------------------------------------Contact*/


#contact-info {
    background-color: rgba(60, 60, 60, 0.404);
    width: 100%;
    
}

.contact-details {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 1.5px;

}

.contact-title {
    font-family: "Exo", sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.contact-info-list, key {
    font-weight: 700;
    text-align: center;
    
}

.contact-info-list, value {
    font-weight: 500;
    text-align: center;
}


/* ---------------------------------------------------------------Form*/

#form-heading {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
   
}

#form-info h2 {
    color: rgba(60, 60, 60, 0.4);
    margin-top: 20px;
    text-align: center;
}
    
#form-info h3 {
    color: rgba(60, 60, 60, 0.4);
    margin-top: 20px;   
    text-align: center;
    padding-top: 20px;
}


.center-form {
    background-color: rgba(60, 60, 60, 0.707);
    color: #fff;
    margin: 10px;
    width: 90%;
    padding: 10px;
}

.text-input {
    background: rgba(60, 60, 60, 0.4);
    border: 1px solid #fafafa;
    border-radius: 4px;
    color: #fafafa;
    height: auto;
    margin: 10px 5px 20px 10px;
    width: 90%;
}


#name-field {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgb(32, 32, 32);
    border-radius: 10px;
    padding: 10px;
}

#name-field::before {
    padding-left: 10px;
}
#email-field {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    font-family: "Exo", sans-serif;
    font-weight: 400;
    padding: 10px;
}

#phone {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgb(32, 32, 32);
    border-radius: 10px;
    padding: 10px;
}

#subject {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgb(32, 32, 32);
    border-radius: 10px;
    padding: 10px;
}

#message-label {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    font-family: "Exo", sans-serif;
    font-weight: 400;
    height: auto;
    padding: 10px;
}

#callout-date {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
    height: auto;
    padding: 10px;
}

.clear-button {
    background-color: rgb(243, 35, 35);
    border-radius: 4px;
    color: white;
    display: inline-flex;
    font-size: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
}

.quote-button {
    background-color: green;
    border-radius: 4px;
    color: white;
    display: inline-flex;
    font-size: 100%;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
}

.clear-button:hover {
    background-color: #555555 ;
    color: #fafafa;
}

.quote-button:hover {
    background-color: #555555;
    color: #fafafa;
}

/* ---------------------------------------------------------------Images*/

#hero-image {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background: no-repeat center center;
    height: 760px;
    width: 100%;
}

#hero-outer {
    height: 560px;
    overflow: hidden;
    position: relative;
    width: 100%;
}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, cover-text h3 {
    color: #000000;
}

#cover-text {
    background-color: rgba(139, 124, 58, 0.705);
    font-family: "Exo", sans-serif;
    font-size: 100%;
    font-weight: 700;
    height: 250px;
    left: 250px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    top: 100px;
    position: absolute;
    width: 300px;
}



.photos {
    clear: both;
    column-count: 3;
    column-gap: 1px;
    line-height: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.photos img {
    padding: 15px;   
    width: 100%;
 }

.gallery-heading {
     width: 100%;
 }

#video {
    margin-left: 15%;
    width: 70%;
}

.gallery {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}


/* -----------------------------------------------------------------Map */ 

#map iframe {
    width: 100%;
    height: 400px;
    position: relative;
  
}



/* ---------------------------------------------------------Media Queries*/


@media screen and (max-width: 1393px) {

    #services {
        margin: 0 auto;
        padding: 10px;
        width: 100%;
    }

    #hero-image {
        margin: 0 auto;
        height: 1100px;
        width: 100%;
    }

    #cover-text {
        float: none;
        left: 10px;
    }   
}

@media screen and (max-width:943px) {
    #nav {
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 5px;
        line-height: 5px;
    }

    #hero-image {
        height: 1000px;
        margin: 0 auto;
        width: 100%;
    }

    #cover-text {
        left: 0px;
    }

    #services {
        padding: 30px;
        padding-bottom: 10px;
        text-align: center;
        width: 75%;
    }
    
 .services-list li{
      list-style-type: none;
    }

  #photos {
      column-count: 3;
    }  
  
  .center-form {
        
    min-height: 240px;
    margin: 10px;
    width: 100%;
    padding: 10px;
   }  

   
#map iframe{
    width: 100%;
    height: 400px;
      
}

}

@media screen and (min-width: 992px) {
   
   .navbar-expand-lg .navbar-collapse {
       flex-direction: row-reverse;
   }
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
}

    #hero-image {
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background: no-repeat center center;
    height: 500px;
    width: 100%;
}

    #hero-outer {
    height: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

.center-form {
        
    min-height: 240px;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
  } 

  #map iframe{
    width: 100%;
    height: 400px;
  
      
}

  
.contact-title {
    font-size: 24px;
    padding-bottom: 20px;
}

.contact-details h3 {
    font-size: 12px;
    text-decoration: solid;
    color: #676767;
    padding-bottom: 10px;
    text-align: center;
    
}

.contact-details p {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }

}

 @media screen and (max-width: 568px) {
   
h1 {
     font-size: 20px;

 }

 .logo {
    height: 40px;
    width: 40px;
}

#header-name {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color:rgba(60, 60, 60, 0.9);
    padding: 10px;
    float: right;
    font-size: 18px;
}

h2 {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding-right: 10px;
}

footer {
    background-color: #555555;
    color: #fafafa;
    margin: 0;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}

.general-sub {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a.call-out {
    color: #fafafa;
    padding-top: 5px;
    padding-bottom: 5px;
}

.call-out { 
    background-color: #8f8f8f;
    border-radius: 50px;
    float: none;
    font-size: 12px;
    height: 15px;
    padding: 10px;
    text-align: center;
    width: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}


.call-out:hover {
    background:  #ffcd05;
    color: #343a40;
    text-decoration: none;
}

.social-links {
    padding-bottom: 10px;
    text-align: center;
}


.social-links li a i {
   
    border-radius: 50%;
    font-size: 10px;
    height: 14px;
    line-height: 8px;
    margin: 15%;
    padding: 12px;
    width: 14px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: gold;
    
}

p {
    font-size: 12px;
}

.gallery {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

.contact-title {
    font-size: 24px;
    padding-bottom: 20px;
}

.contact-details h3 {
    font-size: 12px;
    text-decoration: solid;
    color: #676767;
    padding-bottom: 10px;
    text-align: center;
    
}

.contact-details p {
    font-size: 10px;
    line-height: 10px;
    text-align: center;
}


.services h3 {
    font-size: 24px;
}

#map iframe {
    width: 100%;
    height: 200px;
    padding: 0;
  
}

#form-heading {
    font-size: 18px;
}


.center-form {
        
    min-height: 240px;
    margin: 10px auto;
    width: 80%;
  }  

}

  
/* ---------------------------------------------------------Footer */

footer {
    background-color: #555555;
    color: #fafafa;
    margin: 0;
    min-height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
}

a.call-out {
    color: #fafafa;
}

.call-out { 
    background-color: #8f8f8f;
    border-radius: 50px;
    font-size: 12px;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}


.call-out:hover {
    background:  #ffcd05;
    color: #343a40;
    text-decoration: none;
}

.social-links {
    padding-bottom: 25px;
    text-align: center;
}


.social-links li a i {
    background: #8f8f8f;
    border-radius: 50%;
    color: #fafafa;
    font-size: 13px;
    height: 32px;
    line-height: 10px;
    margin: 15%;
    padding: 12px 0;
    text-align: center;
    width: 32px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: gold;
}



